header, footer {
    background-size: 100vw 100vh;
    text-align: start;
    background-image: url("/img/background-triangles-green.jpg");
    padding: 15px;
}
footer {
    text-align: center;
}
header img {
    height: 10%;
    width: 10%;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    float: left;
}
header h1 {
    margin: 10px;
    padding: 10px;
    position: relative;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}
ul li {
    border: solid;
    position: relative;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
ul li ul {
    display: none;
    position: absolute;
    min-width: min-content;
    z-index: 1;
    background-color: lavender;
}
ul li ul li {
    border: solid black;
    position: absolute;
    min-width: min-content;
    z-index: 1;
    background-color: lavender;
}
ul li:hover ul {
    display: block;
}

button {
	padding: 20px;
}
input[type="button"] {
	padding: 20px;
}
